*
!bangirasu.py
!bomanda.py
!const.py
!dorameshiya.py
!doraparuto.py
!doronchi.py
!fukamaru1.py
!fukamaru2.py
!fukamaru3.py
!gaburiasu.py
!kairyu.py
!metagurosu.py
!miniryu1.py
!miniryu2.py
!Red.py
!sazandora.py
!.gitignore